table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

h1 {
  text-align: center;
}
td {
  text-align: justify;
}

.video {
  text-align: center;
}

.T1 {
  
  background-color: orange;
}

.T3 {
  background-color: red;
  color: white;
}

.T4 {
  background-color: purple;
  color: white;
}
