<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
</style>

*{
    font-family: 'Montserrat',sans-serif;
}


p {
    color: green;
}

.titulo {
    color: hotpink;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text
}

table {
    width: 100%;
}

th {
    text-align: left;
    background-color: blue;
    text-align: center;
    color: white;
}

table,th,td {
    border: 1px solid black;
    border-collapse :collapse;
    padding: 10px;
}

th, td{
    padding: 10px;
}

.celda11 {
    text-align: center;
    background-color: yellow;
}
