@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

table {
  color: white;
  text-align: center;
  background-color: rgb(167, 14, 39);
  width: 100%;
  font-size: 64px;
}

a {
  color: white;
}

h1 {
  color: #333;
  font-size: 20px;
  font-family: Roboto;
}

h2 {
  color: #666;
  font-size: 16px;
  font-family: Roboto;
}

p {
  color: #000;
  font-family: Roboto;
}

ol,ul{
  font-family: Roboto;
}
