body {
    position: relative; 
}
header>nav>ul{
    list-style: none;
}
.btn-header{
    margin-right: 10px;
}

#BHOM{
    background-color: rgba(128, 128, 128, 0.267);
}
#BKAN{
    background-color:rgba(255, 255, 0, 0.377);
}
#BJOH{
background-color: rgba(156, 69, 69, 0.486);
}
#BHOE{
background-color: rgba(0, 119, 255, 0.377);
}

.CI{
    width: 1080px;
    height: 1000px;
}

.T2{
    font-size: 40px;
}
.T1{
    font-size: 70px;
}

#H{
    color: gray;
}
#K{
    color: orange;
}
#J{
    color: red;
}
#O{
    color: blue;
} 

#Starters1{
    background-color:orange;
    font-size: 30px;
}
#Starters2{
    background-color:rgba(255, 0, 0, 0.603);
    font-size: 30px;
}
#Starters3{
    background-color:rgba(34, 241, 34, 0.562);
    font-size: 30px;
}
#pokedex{
    list-style: none;
    width: 40px;
    height: 40px;
}
.IMGS{
    width: 300px;
    height: 300px;
}

.MR{
    margin-right: 400px;
}
.ML{
    margin-left: 400px;
}