.G {
  background-color: beige;
  width: 600px;
  height: 600px;
}

.B1 {
  margin-bottom: 10px;
  float: left;
  background-color: green;
  height: 90px;
  width: 400px;
}

.B2 {
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  background-color: greenyellow;
  height: 90px;
  width: 190px;
}

.B3 {
  margin-bottom: 10px;
  margin-right: 10px;
  float: left;
  background-color: black;
  height: 190px;
  width: 190px;
  color: red;
}
.B4 {
  margin-bottom: 10px;
  float: left;
  background-color: greenyellow;
  height: 190px;
  width: 200px;
}
.B5 {
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  background-color: green;
  height: 90px;
  width: 190px;
}
.B6 {
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
  background-color: greenyellow;
  height: 90px;
  width: 190px;
}
.B7 {
  margin-bottom: 10px;
  float: left;
  background-color: green;
  height: 90px;
  width: 400px;
}
.B8 {
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  background-color: black;
  height: 190px;
  width: 190px;
  color: red;
}
.B9 {
  margin-bottom: 10px;
  float: left;
  background-color: greenyellow;
  height: 90px;
  width: 400px;
}
.B10 {
  margin-right: 10px;
  float: left;
  background-color: green;
  height: 100px;
  width: 190px;
}
.B11 {
  float: left;
  background-color: greenyellow;
  height: 100px;
  width: 200px;
}
.B12 {
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
  background-color: green;
  height: 100px;
  width: 190px;
}
