.G {
  width: 600px;
  height: 600px;
}
.L {
  float: left;
  width: 400px;
  height: 600px;
}
.R {
  float: right;
}
.B1 {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: green;
  width: 390px;
  height: 90px;
}
.B2 {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: black;
  width: 190px;
  height: 190px;
  color: red;
}
.B3 {
  float: right;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: green;
  width: 190px;
  height: 290px;
}
.B4 {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: greenyellow;
  width: 190px;
  height: 90px;
}
.B5 {
  float: left;
  background-color: black;
  width: 190px;
  height: 200px;
  color: red;
}
.B6 {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: greenyellow;
  width: 190px;
  height: 90px;
}
.B7 {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: greenyellow;
  width: 190px;
  height: 90px;
}
.B8 {
  margin-bottom: 10px;
  background-color: greenyellow;
  width: 200px;
  height: 90px;
}
.B9 {
  margin-bottom: 10px;
  background-color: green;
  width: 200px;
  height: 90px;
}
.B10 {
  margin-bottom: 10px;
  background-color: greenyellow;
  width: 200px;
  height: 90px;
}
.B11 {
  margin-bottom: 10px;
  background-color: black;
  width: 200px;
  height: 190px;
  color: red;
}
.B12 {
  margin-bottom: 10px;
  background-color: green;
  width: 200px;
  height: 100px;
}
